/* Estilos específicos para la tabla de Inmobiliarias */

/* Mover el header de Acciones más a la derecha en la tabla de inmobiliarias */
.tabla-inmobiliarias .tl-th--actions.tl-th--center {
  padding-left: 40px;

}
